body {
    font-family: "Poppins", sans-serif;
    /* background-color: rgb(23, 23, 23);
    overflow: hidden; */
}

.padd-t {
    padding-top: 5.5rem;
}

/* Navbar Start */
.navbar {
    padding: 15px 18px !important;
}

.nav-item .nav-link {
    /* color: rgba(255,255,255, 0.92); */
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 500px;
    position: relative;
}

.nav-item {
    margin: 0px 15px;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: transparent;
    width: 0px;
    height: 3px;
    transform: scaleX(0);
    transition: 0.4s ease-in-out;
    transform-origin: left;
}

.nav-item:hover .nav-link::after{
    transform: scaleX(1);
    width: 100%;
    background-color: #ffffff;
}

.dropdown-menu {
    background-color: #fff;
    border: none;
}

.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.sub-menu-wrap {
    position: absolute;
    top: 70%;
    right: 9%;
    width: auto;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #212529;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h4 {
    font-size: 16px;
    font-weight: 500;
}

.user-info img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info hr {
    border: 0;
    height: 1px;
    width: 100%;
    margin: 15px 0 10px;
}
.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    margin: 12px 0;
}

.content-left {
    margin-right: 15px; /* Jarak antara gambar dan teks */
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
}

.content-right {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.content-right p {
    margin: 0;
    font-weight: 300;
}

.content-right span {
    font-size: 22px;
    transition: transform 0.5s;
}

.content-right:hover span {
    color: #ffffff;
    transform: translateX(5px);
}

.content-right:hover p {
    margin: 0;
    font-weight: 500;
    color: #ffffff;
}
/* Navbar End */

/* Hero Start*/
.hero {
    background: linear-gradient(0deg, #212529, #eb1616);
    /* background: linear-gradient(160deg, #EB1616, #151515); */
    /* padding: 10% 0%; */
    /* height: 100vh; */
    /* width: 100%; */
}

.hero-2 {
    background-color: rgb(33, 37, 41);
}

.hero-3 {
    background: linear-gradient(180deg, #212529, #eb1616);
}

.hero-4 {
    background: linear-gradient(0deg, #212529, #eb1616);
}

.hero-5 {
    background-color: rgb(33, 37, 41);
}

.hero-6 {
    background: linear-gradient(180deg, #212529, #eb1616);
    /* height: 500px; */
}

/* Hero End */

.distance {
    padding-top: 15%;
    padding-bottom: 10%;
}

/* Section 1 */
.home-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 74px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.paragraf-home {
    font-size: 15px;
    font-weight: 500;
    max-width: 400;
    line-height: 24px;
    margin: 14px 0px;
    padding-right: 100px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-contact {
    width: 170px;
    background-color: #eb1616 !important;
}

.btn-contact:hover {
    background-color: #212529 !important;
    /* color: #EB1616 !important; */
}

.btn-home {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Section Our CLient Slider Start */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 5));
    }
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}
.slider-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 10);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

/* Section Our CLient Slider End */

/* Section 2 Start */
.card-quality-center {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.circle-icon-center {
    width: 70px;
    height: 70px;
    background-color: #eb1616;
    border-radius: 50%;
    cursor: pointer;
}

.card-title-center {
    font-size: 30px;
    font-weight: 700;
}

.card-subtitle-center {
    font-size: 14px;
    font-weight: 500;
}

.title-card-center {
    color: #212529;
}

.card-quality-center:hover {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(160deg, #212529, #eb1616);
    /* background-color: #EB1616; */
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transform: scale(1.1);
    cursor: pointer;
    color: #fff;
}

.circle-icon-center:hover {
    width: 70px;
    height: 70px;
    background-color: #ffff;
    border-radius: 50%;
    cursor: pointer;
}

.card-quality {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #eb1616;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in;
    color: #ffffff;
    cursor: pointer;
}

.circle-icon {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
}

.card-quality:hover {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(160deg, #212529, #eb1616);
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transform: scale(1.1);
    cursor: pointer;
}

.card-title {
    font-size: 30px;
    font-weight: 700;
}

.card-subtitle {
    font-size: 14px;
    font-weight: 400;
}

.title-card {
    color: #ffffff;
}

.circle-icon:hover {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
}

/* Section 2 End */

/* Section 4 Start */
.img-branding {
    border-radius: 20px;
    width: auto;
    max-height: 400px;
}

.title-branding {
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
}

.subtitile-branding {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.branding {
    width: 75% !important;
}

/* Section 4 End */

/* Section 5 Start */
.card-testi {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
}

.testi-title {
    font-size: 30px;
    font-weight: 700;
}

.outer-box {
    border: 1px solid #000000;
    padding: 10px;
}

.testi-p {
    font-size: 14px;
    font-weight: 500;
}

.comment-user {
    font-size: 15px;
    font-style: italic;
}

.text-testi-form {
    padding-left: 100px;
    padding-right: 100px;
}

.btn-feedback {
    background-color: #eb1616 !important;
    color: #ffffff !important;
    transition: all 0.3s ease-in;
}

.btn-feedback:hover {
    transform: scale(1.1);
}
/* Section 5 End */

/* Section 6 Footer Start*/
.footer-general {
    padding-left: 8rem;
}

.footer-company {
    padding-left: 8rem;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

.icon-sosmed {
    margin-right: 1rem;
}

.copy {
    text-decoration: none;
    color: #ffffff;
}

/* .title-foot-p {
    width: 60%;
} */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; /* Pastikan z-index cukup tinggi agar tombol tetap di atas konten lainnya */
    display: none; /* Sembunyikan tombol secara default */
    background-color: #eb1616 !important;
    border: 1px solid #212529;
    color: #ffffff;
}

.back-to-top.show {
    display: block; /* Tampilkan tombol saat diberikan kelas "show" */
}

/* Section 6 Footer End*/

/* Keranjang Page start */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(190deg, #212529, #eb1616); */
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.items {
    display: block;
}

.item {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
}

.checkbox-group {
    order: 1;
    display: flex;
    align-items: center;
}

.checkbox-group input {
    margin-right: 10px;
}

.image-container {
    order: 2;
    flex: 0 0 150px;
    margin-right: 20px;
}

.item img {
    width: 250px;
    height: 150px;
}

.details {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.quantity {
    order: 4;
    display: flex;
    align-items: center;
}

.checkout-container {
    order: 5;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.select-all-container {
    margin-right: 20px;
    color: white;
}

.checkout {
    margin-left: auto;
}

button {
    background-color: #eb1616;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #eb1616;
}
/* Keranjang Page END */

/* Tracking Page */
.tracking-header {
    padding-top: 4rem;
}

.form-control {
    height: 80px;
}

.sub-track-title {
    font-size: 55px;
    font-weight: 700;
}

.sub-track-title-p {
    font-size: 18px;
    font-weight: 400;
}

.input-group-text {
    background-color: #EB1616;
    color: #ffffff;
}

.information {
    column-gap: 20px;
}

.code-text {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}
.title-code {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}


/* Responsive */

@media screen and (max-width: 768px) {
    .navbar {
        background-color: rgb(33, 37, 41);
    }

    .carousel {
        display: none;
    }
    .home-heading {
        font-size: 45px;
        line-height: 55px;
    }
    .img-branding {
        width: auto;
        max-height: 300px;
    }
    .card {
        width: 18rem !important;
    }
    .container-sm {
        width: 100% !important;
    }
    .text-testi-form {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen and (max-width: 576px) {
    .navbar {
        background-color: rgb(33, 37, 41);
    }
    .distance {
        padding-top: 25%;
        padding-bottom: 10%;
        flex-wrap: wrap;
    }
    .home-heading {
        font-size: 30px;
        line-height: 44px;
    }
    .container-sm {
        width: 100% !important;
    }
    .text-testi-form {
        padding-left: 10px;
        padding-right: 10px;
    }
    .detail h2 {
        font-size: 13px;
    }
    .detail p {
        font-size: 10px;
    }
    .table {
        font-size: 6px;
    }
}
