body {
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(23, 23, 23);
    overflow: hidden; */
}

.padd-t {
    padding-top: 5.5rem;
}

.navbar {
    padding: 15px 18px !important;
}

.nav-item .nav-link {
    /* color: rgba(255,255,255, 0.92); */
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 500px;
    position: relative;
}

.nav-item{
    margin: 0px 15px;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: #ffffff;
    width: 0px;
    height: 3px;
    transition: 0.4s ease-in-out;
}

.nav-item:hover .nav-link::after{
    width: 100%;
}

.hero {
    background: linear-gradient(0deg, #212529, #EB1616);
    /* background: linear-gradient(160deg, #EB1616, #151515); */
    /* padding: 10% 0%; */
    /* height: 100vh; */
    /* width: 100%; */
}

.hero-2 {
    background-color: rgb(33, 37, 41);
}

.hero-3 {
    background: linear-gradient(180deg, #212529, #EB1616);
}

.hero-4 {
    background: linear-gradient(0deg, #212529, #EB1616);
}
.hero-5 {
    background-color: rgb(33, 37, 41);
}

.distance {
    padding-top: 15%;
    padding-bottom: 10%;
}

.home-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 74px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.paragraf-home{
    font-size: 15px;
    font-weight: 500;
    max-width: 400;
    line-height: 24px;
    margin: 14px 0px;
    padding-right: 100px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-contact {
    width: 170px; 
    background-color: #EB1616 !important;
}

.btn-contact:hover {
    background-color: #212529 !important;
    /* color: #EB1616 !important; */
}

.btn-home {
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 5));
    }
}

.slider{
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}
.slider-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 10);    
}

.slider .slide {
    height: 100px;
    width: 250px;

}

.img-branding {
    border-radius: 20px;
    width: auto;
    max-height: 400px;
}

/* .brand-local{
    padding-left: 12rem;
    padding-right: 12rem;
} */
/* 
svg {
    width: 40px;
} */


@media screen and (max-width: 768px) {
    .carousel {
        display: none;
    }
    .home-heading {
        font-size: 45px;
        line-height: 55px;
    }
    .img-branding {
        width: auto;
        max-height: 300px;
    }
    .card {
        width: 18rem !important;
    }
}
@media screen and (max-width: 576px) {
    .distance {
        padding-top: 25%;
        padding-bottom: 10%;
    }
    .home-heading {
        font-size: 30px;
        line-height: 44px;
    }

}