body {
    font-family: 'Poppins', sans-serif;
  /* background-color: rgb(23, 23, 23);
    overflow: hidden; */ 
}

.padd-t {
    padding-top: 5.5rem;
}

/* Navbar Start */
.navbar {
    padding: 15px 18px !important;
}

.nav-item .nav-link {
    /* color: rgba(255,255,255, 0.92); */
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 500px;
    position: relative;
}

.nav-item{
    margin: 0px 15px;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: transparent;
    width: 0px;
    height: 3px;
    transform: scaleX(0);
    transition: 0.4s ease-in-out;
    transform-origin: left;
}

.nav-item:hover .nav-link::after{
    transform: scaleX(1);
    width: 100%;
    background-color: #ffffff;
}

.dropdown-menu {
    background-color: #fff;
    border: none;
}

.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.sub-menu-wrap {
    position: absolute;
    top: 70%;
    right: 9%;
    width: auto;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #212529;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h4 {
    font-size: 16px;
    font-weight: 500;
}

.user-info img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info hr {
    border: 0;
    height: 1px;
    width: 100%;
    margin: 15px 0 10px;
}
.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    margin: 12px 0;
}

.content-left {
    margin-right: 15px; /* Jarak antara gambar dan teks */
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
}

.content-right {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.content-right p {
    margin: 0;
    font-weight: 300;
}

.content-right span {
    font-size: 22px;
    transition: transform 0.5s;
}

.content-right:hover span {
    color: #ffffff;
    transform: translateX(5px);
}

.content-right:hover p {
    margin: 0;
    font-weight: 500;
    color: #ffffff;
}
/* Navbar End */
.head {
    background: #EB1616;
    /* background: linear-gradient(0deg, #212529, #EB1616);
    background: linear-gradient(160deg, #EB1616, #151515);
    height: 100vh;
    width: 100%; */ 
    padding: 3% 0%; 
    margin-bottom: -20px;
}
.hero {
    background: linear-gradient(0deg, #212529, #EB1616);
    /* background: linear-gradient(160deg, #EB1616, #151515); */
    height: 100vh;
    width: 100%; 
    margin-top: -10px;
    /* padding: 2% 0%; */
}

/* Section Our CLient Slider Start */
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 5));
    }
}
/* .icon {
    font-size: 20px;
} */

/* .drag-area {
    width: 100%;
    height: 100px;
    padding: 10px;
    background: #ffffff;
    text-align: center;
    font-size: 8px;
    border-radius: 3px;
}

.drag-area button{
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 3px;
    background: #EB1616;
} */

/* Screen Tablet */
@media screen and (max-width: 768px) {
    /* .drag-area {
        width: 300px;
    } */
    .form-label {
        font-size: 15px;
    }
    .navbar {
        background-color: rgb(33, 37, 41);
    }
    /* .carousel {
        display: none;
    }
    .home-heading {
        font-size: 45px;
        line-height: 55px;
    }
    .img-branding {
        width: auto;
        max-height: 300px;
    }
    .card {
        width: 18rem !important;
    }
    .container-sm {
        width: 100% !important;
    }
    .text-testi-form {
        padding-left: 50px;
        padding-right: 50px;
    } */
}

/* Screen Handphone */
@media screen and (max-width: 576px) {
    /* .drag-area {
        width: 100%;
        font-size: 6px;
    } */
    .form-label {
        font-size: 13px;
    }
/*     .email {
        margin-top: 15px;
    } */
    .hero {
        height: 110vh;
    }
    .form-control {
        font-size: 10px;
    }
    .row {
        margin-bottom: -5px;
    }
    /* .button {
        margin-top: -20px;
    } */
    /* .icon {
        font-size: 20px;
    } */
    .navbar {
        background-color: rgb(33, 37, 41);
    }
/*     .distance {
        padding-top: 25%;
        padding-bottom: 10%;
    }
    .home-heading {
        font-size: 30px;
        line-height: 44px;
    }
    .container-sm {
        width: 100% !important;
    }
    .text-testi-form {
        padding-left: 10px;
        padding-right: 10px;
    } */
}
